/**
 * Admin styles
 * @package CyanTheme
 */

body.wp-core-ui * {
  font-family: "IRANSansX", sans-serif !important;
}

body.wp-core-ui *::before {
  font-family: "dashicons";
}

body.wp-customizer .accordion-section-title::after {
  rotate: 180deg;
}
